body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: #ededed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;

}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #55c3b8;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note {
	background-color: #a6d0d5;
	border-radius: 10px;
	padding: 1rem;
	min-height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 2px;
	margin-bottom: 0.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 50%;
}

.search input:focus {
	outline: none;
}
.logo img {
  width: 100px; /* Set the desired width */
  height: auto; /* Let the height adjust proportionally */
}
/* Styles pour le corps de la page */


/* Styles pour le contenu principal */
.main-content {
	flex: 1;
	padding-bottom: 80px;
	background-color: #ffcccb;
  }

/* Styles pour le pied de page */
.gpt3__footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(218, 236, 236); /* Couleur de fond rouge */
	padding: 12px ; /* Espacement du haut et du bas pour le pied de page */
	margin-top: 70px;
	margin-bottom: 20px;
	
  }


.gpt3__footer-heading {
    width: 50%;
	text-align: center;
    margin-bottom: 0.5rem;
	margin-top: inherit;
}

.gpt3__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 80px;
    font-size: 20px;
    line-height: 15px;
}

.gpt3__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border : 1px solid #3f6e8b;
    text-align: center;
	background-color: #407075;
 margin-bottom: 0.5rem;
    cursor: pointer;
	border-radius: 15px;
}

.gpt3__footer-btn p {
    font-size: 10px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #000000;
    word-spacing: 2px;
}

.gpt3__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.gpt3__footer-links div {
    width: 250px;
    margin: 0.5rem;
}

.gpt3__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.gpt3__footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 0rem;
}

.gpt3__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #0d0808;
}

.gpt3__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.gpt3__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #160c0c;
   margin-bottom: 0.5rem;
}

.gpt3__footer-links_div p {
    font-size: 15px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #111010;
    margin: 0.5rem 0;
    cursor: pointer;
}

.gpt3__footer-copyright {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.gpt3__footer-copyright p {
    font-size: 13px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #181212;
}

@media screen and (max-width: 150px) {
    .gpt3__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 50px) {
    .gpt3__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links div {
        margin: 1rem 0;
    }

    .gpt3__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 100px) {
    .gpt3__footer-heading h1 {
        font-size: 20px;
        line-height: 10px;
    }

}